.Roadmap {
    display: flex;
    min-height: 220vh;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.RoadmapIMG {
    width: clamp(66%, 800px, 90%);
    height: min(80%, 400px);
    border-radius: 12px;
}


@media only screen and (max-width: 600px) {
    .Roadmap {
        display: flex;
        min-height: 600px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .RoadmapIMG {
        width: clamp(100%, 800px, 90%);
        border-radius: 12px;
    }
}