.background {
  background-image: url(../images/Background_Animation.gif);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.App {
    min-height: 100vh;
    background-image: url(../images/Background_Animation.gif);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow-y: hidden;
  }
  
  /*#region Header */
  .App-header {
    display: flex;
    position: fixed;
    justify-content: center;
    max-height: 88px;
    padding: 20px;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5));
    z-index: 999;
  }
  
  .App-logo {
    height: 50px;
    width: 50px;
    pointer-events: none;
  }

  .boltsContainer{
    display: flex;
    background-color: rgba(0, 0, 85, 0.5);
    border: 1px solid #fff;
    border-radius: 12px;
  }

  .boltsBalance {
    max-height: 50px;
    min-width: 20px;
    font-family: 'DotGothic16', sans-serif;
    font-size: 1rem;
    color: #ffffff;
  }

  .boltsText {
    font-size: 1rem;
    color: #fff;
    padding: 2px;
  }

  .connectButton {
    max-height: 50px;
    padding: 5px;
    font-family: 'DotGothic16', sans-serif;
    color: #ffffff;
    font-size: 1rem;
    background-color: rgba(0, 0, 85, 0.5);
    border: 2px solid #fff;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 0px;
    border-top-right-radius: 12px;
  }
  
  .headerText {
    font-size: 1rem;
    color: #fff;
    margin-left: 20px;
  }

  .headerTextVote {
    font-size: 1rem;
    color: #fff;
    margin-left: 20px;
  }

  .headerTextBolts {
    font-size: 1rem;
    color: #fff;
    margin-left: 15px;
    padding-right: 5px;
  }
  
  .header-Links {
    text-decoration: none;
    color: #fff;
    justify-content: flex-end;
    width: 100%;
  }
  /*#endregion */
  
  /*#region Landing Page */
  .App-LandingPage {
    display: flex;
    height: 720px;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .App-LandingImage {
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .App-LandingLogo {
    max-width: 604px;
    max-height: 200px;
  }
  /*#endregion */
  
  /*#region Footer */
  .App-Footer {
    padding-bottom: 40px;
    z-index: 999;
    display: flex;
    width: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
    min-height: 88px;
    max-height: 169px;
    background: rgba(0, 0, 0, 1);
  }
  
  .FooterTitle {
    color: #fff;
    justify-self: flex-start;
  }
  
  .FooterText {
    display: inline;
    padding: 1rem;
    color: #fff;
    justify-content: center;
  }
  
  .footerlogo {
    max-width: 20px;
    max-width: 20px;
    align-items: center;
    text-align: center;
  }
  
  .FooterApp-logo {
    padding-top: 1.5rem;
    height: 75px;
    width: 75px;
    pointer-events: none;
  }

  .GlitchesLogo {
    padding-left: 1rem;
    max-width: 100px;
    max-height: 50px;
    align-items: center;
    text-align: center;
  }

  .Footer-left {
    width: 33%;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
  }
  
  .Footer-center {
    width: 33%;
    align-items: center;
    text-align: center;
  }
  
  .Footer-right {
    width: 33%;
    align-items: center;
    text-align: center;
  }
  
  
  
  /*#endregion */
  
  @media only screen and (max-width: 600px) {
    .App {
      min-height: 100vh;
      background-image: url(../images/Background_Animation.gif);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; /* Center the image */
    }
  
    /*#region Header */
    .App-header {
      z-index: 999;
      display:contents;
      position: fixed;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 88px;
      padding: 2px;
      max-width: 100%;
    }
  
    .App-logo {
      height: 25px;
      width: 25px;
      pointer-events: none;
    }
  
    .connectButton {
      height: 50px;
      margin-left: 2px;
      cursor: pointer;
      font-size: .8rem;
    }
  
    .headerText {
      font-size: 12px;
      color: #fff;
      margin-left: 10px;
    }
    .headerTextVote {
      display: none !important;
    }
  
    .headerTextBolts {
      display: none !important;
    }
    /*#endregion */
  
    /*#region Landing Page */
    .App-LandingPage {
      display: flex;
      height: 720px;
      text-align: center;
      justify-content: center;
      align-items: center;
    }
  
    .App-LandingImage {
      justify-content: center;
      align-items: center;
      text-align: center;
    }
  
    .App-LandingLogo {
      max-width: 400px;
      max-height: 150px;
    }
    /*#endregion */
  
    /*#region Footer */
    .App-Footer {
      display: flex;
      max-height: 169px;
      background: rgba(0, 0, 0, 1);
    }
  
    .FooterTitle {
      color: #fff;
    }
  
    .FooterText {
      color: #fff;
      flex-direction: column;
    }
  
    .FooterLeft {
      justify-content: flex-start;
    }
  
    /*#endregion */
  }
  