.boltsBalance {
  height: 50px;
  font-family: 'DotGothic16', sans-serif;
  font-size: 1rem;
  color: #ffffff;
  background-color: rgba(0, 0, 85, 0.5);
  border-radius: 12px;
  border: 1px solid #fff;
}

.boltsText {
  font-size: 1rem;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
}

