.boltsBalance {
  max-height: 50px;
  min-width: 20px;
  font-family: 'DotGothic16', sans-serif;
  font-size: 1rem;
  color: #ffffff;
}

.boltsText {
  font-size: 1rem;
  color: #fff;
  padding: 2px;
}

