/* 'Orbitron', sans-serif*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap'); 
/*  */
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
/* 'DotGothic16', sans-serif; */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'DotGothic16', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Orbitron', sans-serif;
}
